.root{
    -fx-background-image: url("file:resources/layout/back.png");
    -fx-background-position: top left;
}

.mainButton {
    -fx-background-color: rgba(254, 94, 47, 0.7);
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5;
}

.mainButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.7);
}

.grid {
    -fx-padding: 0 0 0 170;
}

.scrollPane  > .viewport {
   -fx-background-color: transparent;
}

.scrollPane {
   -fx-background-color: transparent;
}