@CHARSET "ISO-8859-1";

.root {
    -fx-background-image: url("file:resources/layout/back.png");
    -fx-background-position: top left;
    -fx-fill: #FFFFFF;
}

.overviewGrid{
    -fx-background-color: rgba(0, 100, 100, 0.2);
    -fx-background-radius: 10;
    -fx-padding: 10 10 10 10;
}

#topBox {
    -fx-background-image: url("file:resources/layout/rainbow.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-radius: 30;
    -fx-padding: 10 10 10 10;
}

#chatBox {
    -fx-background-color: rgba(218, 77, 18, 0.3);
    -fx-background-radius: 10;
    -fx-padding: 20 25 10 25;
}

.listGrid {
    -fx-background-color: rgba(194, 218, 93, 0.3);
    -fx-background-radius: 10;
    -fx-padding: 20 25 10 25;
}

#bottomBox {
    -fx-background-image: url("file:resources/layout/rainbow.png");
    -fx-background-repeat: repeat;
    -fx-background-position: center;
    -fx-background-radius: 30;
    -fx-padding: 10 10 10 10;
}

.removeButton {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 50;
    -fx-text-fill: #cc0100;
}

.mainButton {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-padding: 5 10 5 10;
    -fx-background-radius: 5;
}

.mainButton:hover {
    -fx-background-color: rgba(254, 94, 47, 0.7);
}